<footer class="footer">

    <div class="social">
        <a href="https://www.linkedin.com/in/jason-odell-2b723826a"><i class='bx bxl-linkedin-square'></i></a>
        <a href="https://www.youtube.com/channel/UC9w4py1DF1Lwo55ta3PSLAA"><i class='bx bxl-youtube'></i></a>
        <a href="https://github.com/JDell2003"><i class='bx bxl-github' ></i></a>
        <a href="https://www.instagram.com/jason_jrrr" target="_blank"><i class='bx bxl-instagram'></i></a>

    </div>

    <ul class="list">
        <li>
            <a href="#">FAQ</a>
        </li>
        <li>
            <a href="/services">Services</a>
        </li>
        <li>
            <a href="#">About Me</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <a href="#">Privacy Policy</a>
        </li>
    </ul>

    <p class="copyright">© 2024 Jason | All Rights Reserved</p>
</footer>

</body>
</html>