<%- include('partials/header') %>


<section class="page-Format">

<section id="aMSection">
<h1> About Me </h1>
<hr>
<hr id="amhr2">

<h2> I'm Jason ODell a <span>Web Developer</span></h2>

<p> 
  &nbsp&nbsp&nbsp&nbsp&nbsp

  With a deep-seated passion for software development and a relentless pursuit of knowledge, I embody the values of perseverance and commitment. My journey reflects a commitment to excellence, not just in my career but also in my personal pursuits, such as fitness. I see myself not only as a software engineer but also as a role model, especially for the youth, inspiring them to embrace technology and the endless possibilities it offers. My dedication to both my craft and my community drives me to excel, aiming to make a positive impact in the tech world while leading by example in all aspects of life.
</section>
<br> <br> <br> <br>

<section id="infoboxes_Prof">
<section id="infoboxes">
<div id="infoBox1">
    <p><strong>Birthday:</strong> 8 Dec 2003</p>
    <p><strong>Website:</strong> www.domain.com</p>
    <p><strong>Degree:</strong> CS </p>
    <p><strong>City:</strong> Atlanta, Ga</p>
    <div class="btn-box">
      <a href="/images/Resume%204_5_2024.pdf" download="Jason ODell Resume" class="btn-3">Download Resume</a>
  </div>
</div>

<div id="infoBox2">
    <p><strong>Age:</strong> 20</p>
    <p><strong>Email:</strong> jodellpersonal@gmail.com</p>
    <p><strong>Phone:</strong> 225 - 301 - 3853</p>
    <p><strong>Freelance:</strong> Available</p>
    <div class="btn-box">
      <a href="/#contact" class="btn-4">Hire Me</a>
  </div>
</div>
</section>

<section class="proficiency_Chart">

<div class="javascriptSkill">
    <div class="skill">
      <p><strong>JS</strong></p>
    </div>
  
    <div class="bar_Base">
      <div id="JS_Barfill"></div>
    </div>
</div>

<br> 

<div class="htmlskill">
    <div class="skill">
      <p><strong>html</strong></p>
    </div>
  
    <div class="bar_Base">
      <div id="html_Barfill"></div>
    </div>
</div>

<br> 

<div class="htmlskill">
    <div class="skill">
      <p><strong>MongoDB</strong></p>
    </div>
  
    <div class="bar_Base">
      <div id="mongo_Barfill"></div>
    </div>
</div>

<br> 

<div class="nodeskill">
    <div class="skill">
      <p><strong>Node.js</strong></p>
    </div>
  
    <div class="bar_Base">
      <div id="node_Barfill"></div>
    </div>
</div>

<br> 

<div class="express">
    <div class="skill">
      <p><strong>Express</strong></p>
    </div>
  
    <div class="bar_Base">
      <div id="express_Barfill"></div>
    </div>
</div>
</section>
</section>

<div id="AboutME1"></div>

<section id="timeline">
    <div id="timelineBox">
        <div id="timelinebar"></div>
        <div id="boxTittle">
            <h1>Past 5 Years 🕰️</h1>
        </div>
        <div class="contentBoxes">
            <img src=https://www.downloadclipart.net/medium/42057-calendar-images.png alt="Calendar Icon">
            <h1>2018 - 2022</h1>
            
            <h3>Graduated HighSchool |  Restaurant Supervisor </h3>
            <p>
                Throughout high school, I adeptly balanced academics with extracurriculars like wrestling, robotics, and software development, maintaining a commendable 3.5 GPA. Alongside my scholastic achievements, I honed leadership skills as a restaurant supervisor, nurturing my passion for bodybuilding in my spare time.</p>

        </div>
        <div class="contentBoxes">
            <img src=https://www.downloadclipart.net/medium/42057-calendar-images.png alt="Calendar Icon">
            <h1>2022 - 2024</h1>

            <h3>Enrolled in College | Personal Trainer </h3>

            
            <p>At 18, I bought my first apartment for me and my at the time girlfriend, (now wife). Transitioning from a restaurant supervisor to a personal trainer let me serve my community and create the flexbility needed for college. At Southern University, I double-majored in Mechanical Engineering and Software. In my freshman year, I interned with Proctor and Gamble as a ME, saving the company $2 million annually.</p>


        </div>
        <div class="contentBoxes">
            <img src=https://www.downloadclipart.net/medium/42057-calendar-images.png alt="Calendar Icon">
            <h1>2024 - Present</h1>

            <h3>Finishing Bachelors | Personal Training Manager</h3>
            <p> In early 2024, I received a job offer that prompted me to move my family to Georgia. I enrolled at Georgia State University as a Computer Science major, which slightly pushed back my graduation date. Despite life's ups and downs, including my new role as a personal training manager, I remain committed to my goals of skill improvement and becoming a successful software developer.</p>
    
            
        </div>
    </div>

    <div id="timelineBox2">
        <div id="timelinebar"></div>
        <div id="boxTittle2">
            <h1>Future 5 Years 🚀</h1>
        </div> 
        <div class="contentBoxes">
            <img src=https://www.downloadclipart.net/medium/42057-calendar-images.png alt="Calendar Icon">
            <h1>2025 - 2027</h1>
            
            <h3>Graduate w/ Bachelors | Secure CS internships / job </h3>
            <p>
                I anticipate completing my bachelor's in CS by early 2027. Throughout my college journey, I aim to secure an internship with a company that shares my values. Ideally, I seek a company culture that provides challanges to grow my skill set and offers long-term growth opportunities. Following graduation, my plan is to transition into a full-time role with the company where I completed my internship / internships.</p>

        </div>
        <div class="contentBoxes">
            <img src=https://www.downloadclipart.net/medium/42057-calendar-images.png alt="Calendar Icon">
            <h1>2027 - 2029</h1>

            <h3>Pursue Masters | Secure Rental Property </h3>

            
            <p>After earning my bachelor's degree, I intend to immediately pursue a master's program in CS while also pursuing a bachelor's in real estate. Upon completing both degrees, I aim to utilize them to acquire real estate for my family and support my peers and colleagues in their CS endeavors by sharing the knowledge I've gained. </p>


        </div>
        <div class="contentBoxes">
            <img src=https://www.downloadclipart.net/medium/42057-calendar-images.png alt="Calendar Icon">
            <h1>2030 - 2032</h1>

            <h3>Pursue PHD | Postively Impact Others</h3>
            <p> 
                By 2030, at the ripe "old" age of 27, I will have accomplished what I've set out to do. Once I've completed my PhD in CS, I will use my knowledge and funds to provide Scholarships and guidance for  individuals who are driven. I choose to walk a hard path to cultivate a postive and successfull enviroment as well as help the needy. My story will inspire others, showing you can do whatever you put your mind to!  <p>
    </div>
    </div>
</section>


</section>
<%- include('partials/footer') %>










