<%- include('partials/header') %>

    <section class="home">
        <div class="home-content">
            <h3>Hi</h3>
            <h1>I'm <span>Jason</span> <br> a FullStack <br> Developer</h1>

            <p>Hi there! I'm Jason, a full-stack developer with a love for AI and a knack for mastering new skills. I'm all about diving into new challenges and finding innovative solutions. Let's build something amazing together!</p>

            <div class="btn-box">
                <button class="btn-1">Hire Me</button>
                <button class="btn-2">Expereince</button>
            </div>
        </div>
        <div class="img-box">
            <img src="/images/IMG_0290.jpg" alt="Picture Here">
        </div>
    </section>

    <section class="about">
        <div id="image2" class="about-img">
            <img src="/images/IMG_0290.jpg" alt="">
        </div>

        <div class="about-content">
        <h2 class="heading">MY </h2>
        <h3><span>Mission, Values, and Goals</span></h3>
        <ul>  



<br>
<h1>Mission:</h1>
<br>

<ul>
<li><strong>Simplify Complexity:</strong> I aim to simplify complex concepts, making them accessible to all.</li>

<li><strong>Mentorship:</strong> Nurturing young developers is a key part of my mission, as I believe in passing on knowledge and empowering others.</li>

<li><strong>Positive Impact:</strong> Ultimately, my goal is to make a positive impact in the tech world, contributing to innovative projects and teams.</li>
</ul>


<br>
<h1>Values:</h1>
<br>

<ul>
<li><strong>Resilience:</strong> The ability to bounce back from setbacks and keep pushing forward.</li>

<li><strong>Perseverance:</strong> The determination to continue despite obstacles or difficulties.</li>

<li><strong>Commitment:</strong> A strong dedication to a goal or cause, often requiring sacrifice and effort.</li>

<br><br>
</ul>        
            
            
        <a href="/about#AboutME1" class="btn-2">Goals</a>
        </div>
    </section>

<div id="contact"></div>


    <section class="contact-form">
        <h2 class="contact-me">Contact <span>Me</span></h2>

        <form action="https://formspree.io/f/xrgnobeg" method="POST">
            <div class="input-box">
                <input type="text" name="fullname" placeholder="Full Name">
                <input type="email" name="email" placeholder="Email">
            </div>
        
            <div class="input-box">
                <input type="tel" name="phone" placeholder="Phone Number">
                <input type="text" name="subject" placeholder="Subject">
            </div>
        
            <textarea name="message" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message" class="btn-1">
        </form>
        

    </section>

    <%- include('partials/footer') %>
