*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins' ,
  sans-serif;
  text-decoration: none;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
}

.logo:hover {
  color: orangered;
  text-shadow: 0 0 25px orangered,
               0 0 50px  orangered;

               transform: scale(1.1);
}

span {
  color: orangered;
}

.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

.navbar a.active {
  color: red; /* Change to whatever style you want for the active state */
}

.navbar a:hover,
.navbar a.active{
  color: orangered;
  border-bottom: 3px solid orangered;
}

.contact{
  padding: 10px 28px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
}

.contact:hover{
  background-color: orangered;
  box-shadow: 0 0 25px orangered;
  color: white; 
}

.home{
  width: 100%;
  min-height: 100vh;
  background: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 30px 12% 0;
}

.home-content{
  max-width: 800px;
}

.home-content h3 {
  font-size: 42px;
}

.home-content h1 {
  font-size: 62px;
  line-height: 1.2;
}

.home-content p {
  font-size: 18px; 
  margin: 25px 0 30px;
}

.btn-box{
  width: 345px;
  display: flex;
  gap: 2em;
}

.btn-1 {
  padding: 15px 28px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-1:hover{
  background-color: white;
  color:black;
  border: 2px solid black;
}

.btn-2 {
  padding: 15px 28px;
  background-color: orangered;
  color:white;
  border: 2px solid black;
  border-radius:8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-2:hover{
  background-color: white;
  color: orangered;
}

.img-box img{
  border-radius: 50%;
  width:475px;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-thumb{
  background-color: orangered;
}

::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px; 
}

.about-img img{
  position: relative;
  width: 550px;
  box-shadow: 0 0 25px orangered, 
              0 0 50px orangered;
  border-radius: 50%;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12% 8%;
  gap: 10em;
  background-color: black;
  color: white;
}

.about li{
  margin-bottom: 10px;
  font-size: 18px;
}

.about-content h2{
  text-align: left;
  color: white;
  font-size: 42px;
}

.about-content h3 {
  font-size: 42px;
  color: white;
}

.about-content p{
  color: white;
  font-size: 20px;
  margin: 2em 0 3em;
}

.contact-form h2 {
  text-align:center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 36px;
}

.contact-form form{
  max-width: 50em;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3em;
}

.contact-form form .input-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea {
  width: 100%;
  padding: 1.5em;
  font-size: 18px;
  color: black;
  background: rgb(241, 241, 241);
  border-radius: .8rem;
  margin: 1rem 0;
  resize: none;
}

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: black;
}

.footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: white;
}

.footer .social a{
  font-size: 24px;
  color: white;
  border: 2px solid orangered;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display:inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
  transition: 0.3s ease;
}

.footer .social a:hover{
  transform: scale(1.2)translateY(-10px);
  color: orangered;
  border: 2px solid orangered;
}

footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a{
  color: white; 
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

.footer ul li a:hover{
  border-bottom: 3px solid orangered;
}

.footer ul li{
  display: inline-block;
  padding: 0 15px;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: white;
}

.pheading {
  display: flex;
  top: 300px;
}

#aMSection h1{
  font-size: 30px;
  letter-spacing: 2px;
  position: relative;
  margin-top: 150px;
  margin-bottom: 4px;
}

#aMSection h2{
  letter-spacing: 2px;
  
}

#aMSection p{
  margin-top: 30px;
  letter-spacing: 1px;
  line-height: 1.3;
  border: 1px solid grey;
  background-color: rgb(216, 216, 216) ;
  padding: 10px;
}

#aMSection hr {
  border: 2px solid orangered;
  width: 50px;
}

#amhr2 {
  margin-top: 3px;
  margin-bottom: 70px;
  width: 25px !important;
}

#infoboxes {
  display: flex;
  justify-content: center;
}

#infoboxes p{
margin-bottom: 18px;
}

#infoboxes p::after {
  content: "";
  display: block;
  margin-top: 20px; /* Adjust as needed */
  border-top: 1px solid rgba(0, 0, 0, 0.295); /* Change color as needed */
  width: 100%;
}

#infoBox1 {
  margin-left: 50px;
}

#infoBox1, #infoBox2 {
  width: 350px;
  margin-right: 25px; /* Adjust spacing between boxes */
}

.page-Format {
margin-left: 250px;
margin-right: 250px;
}

.proficiency_Chart {
  margin-bottom: 25px;
  margin-left: 30px;
  width: 465px;
}


.skill {
  margin-left: 8px;
}

.bar_Base {
  margin: 5px;
  width: 100%;
  height: 10px;
  background-color: rgba(128, 128, 128, 0.336);
  border-radius: 15px;
}

#infoboxes_Prof {
  display: flex;
}

#JS_Barfill {
  width: 65%;
  height: 10px;
  background-color: orangered;
  border-radius: 15px;
}

#html_Barfill {
  width: 80%;
  height: 10px;
  background-color: orangered;
  border-radius: 15px;
}

#mongo_Barfill {
  width: 75%;
  height: 10px;
  background-color: orangered;
  border-radius: 15px;
}

#node_Barfill {
  width: 75%;
  height: 10px;
  background-color: orangered;
  border-radius: 15px;
}

#express_Barfill {
  width: 75%;
  height: 10px;
  background-color: orangered;
  border-radius: 15px;
}

.btn-3 {
  padding: 9px 28px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  border-radius: 400px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-3:hover{
  background-color: white;
  color:black;
  border: 2px solid black;
}

.btn-4 {
  padding: 9px 28px;
  background-color: orangered;
  color:white;
  border: 2px solid black;
  border-radius:400px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-4:hover{
  background-color: white;
  color: orangered;
}

#timeline {
  display: flex;
  margin-top: 50px;
}

#timelineBox {
  margin-left: 45px;
  margin-right: 40px;
  position: relative; /* Set position to relative */
  border-radius: 8px;
  margin-bottom: 100px;
  margin-top: 100px;
  background-color: rgb(216, 216, 216);
  height: 750px;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#timelineBox2 {
  position: relative; /* Set position to relative */
  border-radius: 8px;
  margin-bottom: 100px;
  margin-top: 100px;
  background-color: rgb(216, 216, 216);
  height: 750px;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#timelinebar {
  position: absolute;
  top: 50%;
  transform: translate(900%, -50%); /* Center vertically and horizontally */
  background-color: orangered;
  height: 90%;
  width: 3px;
}

#boxTittle, #boxTittle2 {
  color: white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    margin: 10px;
}

.contentBoxes {
  margin-top: 25px;
  margin-left: 50px;
  /* border: 1px solid black; */
  height: 200px;
  width: 85%;
}

.contentBoxes img{
  margin: 8px;
  width: 30px;
  height: 30px;
}

.contentBoxes h1{
  margin-top: -36px;
  margin-left: 45px;
}

.contentBoxes h3{
  margin: 8px;
  letter-spacing: 1px;
  font-size: 15px;
}

.contentBoxes p{
  margin: 8px;
  letter-spacing: 1px;
}

/* Projects Section */

.work__container {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  gap: 1.8rem; 
  justify-content: center;
  padding-top:1rem;
  color: white;
}

.work__container ul, li{
 list-style: none;
}

.work__container img{
  height: 250px;
  width: 290px;
  border: 1px solid rgb(39, 39, 39);
}

#work h2{
  margin-top: 120px;
}

.work_filters{
  display: flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: 2rem;
}

.work_item {
 cursor: pointer;
 padding: .25rem .75rem;
 border-radius: .5rem;
 color: black;
 background: white;
 border-radius: 5px;
 font-weight: bold;
}

.work_filters div{
margin-left: 10px;
}

.active-work {
  background-color:orangered ;
  color:white ;
}

.active-work:hover {
  background-color:orangered ;
  color:white ;
}

.work_card {
  background-color: #616161;
  padding: 1.25rem; 
  border-radius: .5rem;
}

.portfolio_item-details {
  display: none;
}

.work_img {
  border-radius: .5rem;
  margin-bottom:20px;
}

.work_title {
  font-size: var(--normal-font-size);
  margin-bottom: 12px;
}

.work_button {
  color: #ff2828;
  font-size: ;
  display: flex;
  align-items: center;
  column-gap: .25rem;
  cursor: pointer;
}


.pp_thumbnail img {
  height: 275px;
  width: 320px;
  border-radius: 10px;
}

.portfolio_popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0 ,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: 1;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  
}

.portfolio_popup.open {
  opacity: 1;
  visibility: visible;
}

.portfolio_popup-close {
  cursor: pointer;
  color: orangered;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1rem; /* Adjust the padding for thickness */
}

.portfolio_popup-inner {
  background-color: rgb(33, 33, 33);
  width: 900px;
  border-radius: .5rem;
  padding: 2.5rem;
  position: relative;
}

.portfolio_popup-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 3rem;
}

.pp_thumbnail {
  grid-column: 1;
}

.portfolio_popup-info {
  grid-column: 2;
  max-width: 400px; /* Adjust the width of the text container */
}

.portfolio_popup-close {
  position: absolute;
}

.portfolio_popup {
  color: white;
}

.details_title {
  font-size: 22px;
}

.details_info li {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 13px;
}

.details_info a {
  color: white;
  text-transform: lowercase;
  color: orangered;
}

.details_info:hover li a {
  border-bottom: 1px solid orangered;
}

.portfolio_popup-body{
  margin-top: 10px;
}

.details_description {
  margin-top: 10px;
  margin-bottom: 30px;
}

.details_info li:last-child {
  margin-bottom: 0;
}

.details_info li span {
  font-weight: normal; 
}

.footer {
  margin-top: 140px;
}

.timeline1 {
  padding: 0px 100px;
  position: relative;
  width: 100%;
}

.timeline1 ul li{
  position: relative;
  width: 50%;
}

.BB {
  box-sizing: border-box;
}

.timeline1::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 0;
}





